<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
<h1>Clients</h1>
<table>
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Birthdate</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${clients}">
        <td th:text="${client.fullName}"></td>
        <td th:text="${client.birthdate}"></td>
        <td>
            <a th:href="@{/clients/edit/{id}(id=${client.id})}">Edit</a>
            <a th:href="@{/clients/delete/{id}(id=${client.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/clients/add}">Add Client</a>
<a th:href="@{/}">Back to main page</a>
</body>
</html>
